<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "the barker project", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",    root_path %></li>
        <li><%= link_to "Home Staging",    home_staging_path %></li>
        <li><%= link_to "Organizing",    organizing_path %></li>
        <li><%= link_to "Redesign",    redesign_path %></li>
        
      </ul>
    </nav>
  </div>
</header>